**1\. lekérdezés: NULL értékek számának és százalékos arányának meghatározása**

In [1]:
SELECT 
    'SZOBA_ID' AS Oszlop,
    SUM(CASE WHEN SZOBA_ID IS NULL THEN 1 ELSE 0 END) AS Null_ertekek_szama,
    SUM(CASE WHEN SZOBA_ID IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(SZOBA_ID) AS Szazalekos_arany
FROM 
    Szoba

    UNION

SELECT 
    'SZALLAS_FK' AS Oszlop,
    SUM(CASE WHEN SZALLAS_FK IS NULL THEN 1 ELSE 0 END) AS Null_ertekek_szama,
    SUM(CASE WHEN SZALLAS_FK IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(SZALLAS_FK) AS Szazalekos_arany
FROM 
    Szoba

    UNION

SELECT 
    'SZOBA_SZAMA' AS Oszlop,
    SUM(CASE WHEN SZOBA_SZAMA IS NULL THEN 1 ELSE 0 END) AS Null_ertekek_szama,
    SUM(CASE WHEN SZOBA_SZAMA IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(SZOBA_SZAMA) AS Szazalekos_arany
FROM 
    Szoba

    UNION

SELECT 
    'FEROHELY' AS Oszlop,
    SUM(CASE WHEN FEROHELY IS NULL THEN 1 ELSE 0 END) AS Null_ertekek_szama,
    SUM(CASE WHEN FEROHELY IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(FEROHELY) AS Szazalekos_arany
FROM 
    Szoba

    UNION

SELECT 
    'POTAGY' AS Oszlop,
    SUM(CASE WHEN POTAGY IS NULL THEN 1 ELSE 0 END) AS Null_ertekek_szama,
    SUM(CASE WHEN POTAGY IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(POTAGY) AS Szazalekos_arany
FROM 
    Szoba

    UNION

SELECT 
    'KLIMAS' AS Oszlop,
    SUM(CASE WHEN KLIMAS IS NULL THEN 1 ELSE 0 END) AS Null_ertekek_szama,
    SUM(CASE WHEN KLIMAS IS NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(KLIMAS) AS Szazalekos_arany
FROM 
    Szoba

Oszlop,Null_ertekek_szama,Szazalekos_arany
FEROHELY,0,0.000000000000
KLIMAS,0,0.000000000000
POTAGY,0,0.000000000000
SZALLAS_FK,0,0.000000000000
SZOBA_ID,0,0.000000000000
SZOBA_SZAMA,0,0.000000000000

**2<span style="color: var(--vscode-foreground);">. lekérdezés: legkisebb, legnagyobb értékek meghatározása</span>**

In [2]:
SELECT 
    'SZOBA_ID' AS Oszlop_neve,
    MIN(SZOBA_ID) AS Legkisebb_ertek,
    MAX(SZOBA_ID) AS Legnagyobb_ertek
FROM 
    Szoba

UNION

SELECT 
    'SZALLAS_FK' AS Oszlop_neve,
    MIN(SZALLAS_FK) AS Legkisebb_ertek,
    MAX(SZALLAS_FK) AS Legnagyobb_ertek
FROM 
    Szoba

UNION

SELECT 
    'SZOBA_SZAMA' AS Oszlop_neve,
    MIN(SZOBA_SZAMA) AS Legkisebb_ertek,
    MAX(SZOBA_SZAMA) AS Legnagyobb_ertek
FROM 
    Szoba

    UNION

SELECT 
    'FEROHELY' AS Oszlop_neve,
    MIN(FEROHELY) AS Legkisebb_ertek,
    MAX(FEROHELY) AS Legnagyobb_ertek
FROM 
    Szoba

    UNION

SELECT 
    'POTAGY' AS Oszlop_neve,
    MIN(POTAGY) AS Legkisebb_ertek,
    MAX(POTAGY) AS Legnagyobb_ertek
FROM 
    Szoba

ORDER BY Legnagyobb_ertek

Oszlop_neve,Legkisebb_ertek,Legnagyobb_ertek
POTAGY,0,2
FEROHELY,1,4
SZOBA_SZAMA,1,9
SZALLAS_FK,1,20
SZOBA_ID,1,294

**3\. lekérdezés: kiugró értékek meghatározása**

In [3]:

SELECT 
    'SZALLAS_FK' AS Oszlop,
    AVG(SZALLAS_FK) AS Átlag
    
FROM 
    Szoba

UNION ALL
SELECT 
    'FEROHELY' AS Oszlop,
    AVG(FEROHELY) AS Átlag
    
FROM 
    Szoba
UNION ALL
SELECT 
    'POTAGY' AS Oszlop,
    AVG(POTAGY) AS Átlag
FROM 
    Szoba

Oszlop,Átlag
SZALLAS_FK,10
FEROHELY,2
POTAGY,0

**4\. lekérdezés: értékek eloszlása**

In [4]:



SELECT 
    'FEROHELY' AS Oszlop,
    FEROHELY AS Ertek,
    COUNT(*) AS Elfordulas
FROM 
    Szoba
GROUP BY 
    FEROHELY
ORDER BY 
    FEROHELY;

SELECT 
    'POTAGY' AS Oszlop,
    POTAGY AS Ertek,
    COUNT(*) AS Elfordulas
FROM 
    Szoba
GROUP BY 
    POTAGY
ORDER BY 
    POTAGY;

SELECT 
    'KLIMAS' AS Oszlop,
    KLIMAS AS Ertek,
    COUNT(*) AS Elfordulas
FROM 
    Szoba
GROUP BY 
    KLIMAS
ORDER BY 
    KLIMAS

Oszlop,Ertek,Elfordulas
FEROHELY,1,2
FEROHELY,2,164
FEROHELY,3,127
FEROHELY,4,1

Oszlop,Ertek,Elfordulas
POTAGY,0,146
POTAGY,1,118
POTAGY,2,30

Oszlop,Ertek,Elfordulas
KLIMAS,i,215
KLIMAS,n,79

**5\. lekérdezés: szórás**

In [2]:
SELECT 
    'SZALLAS_FK' AS Oszlop,
    STDEV(SZALLAS_FK) AS Szórás
    
FROM 
    Szoba

UNION ALL
SELECT 
    'FEROHELY' AS Oszlop,
    STDEV(FEROHELY) AS Szórás
    
FROM 
    Szoba
UNION ALL
SELECT 
    'POTAGY' AS Oszlop,
    STDEV(POTAGY) AS Szórás
FROM 
    Szoba

Oszlop,Szórás
SZALLAS_FK,"4,828412125193567"
FEROHELY,"0,5164180113018646"
POTAGY,"0,6666898837405099"

**6\. lekérdezés: egyedi értékek száma**

In [5]:
SELECT 
    COUNT(DISTINCT SZOBA_ID) AS szoba_id_egyediértékek_száma,
    COUNT(DISTINCT SZALLAS_FK) AS szallas_fk_egyediértékek_száma,
    COUNT(DISTINCT SZOBA_SZAMA) AS szoba_szama_egyediértékek_száma,
    COUNT(DISTINCT FEROHELY) AS ferohely_egyediértékek_száma,
    COUNT(DISTINCT POTAGY) AS potagy_egyediértékek_száma,
    COUNT(DISTINCT KLIMAS) AS klimas_egyediértékek_száma
FROM 
    SZOBA

szoba_id_egyediértékek_száma,szallas_fk_egyediértékek_száma,szoba_szama_egyediértékek_száma,ferohely_egyediértékek_száma,potagy_egyediértékek_száma,klimas_egyediértékek_száma
294,20,50,4,3,2

**7\. lekérdezés: korreláció vizsgálata a férőhely és pótágyak száma között**

In [6]:
SELECT 
    FEROHELY,
    POTAGY,
    COUNT(*) AS count
FROM 
    SZOBA
GROUP BY 
    FEROHELY, POTAGY

FEROHELY,POTAGY,count
1,0,1
2,0,72
3,0,73
1,1,1
2,1,75
3,1,41
4,1,1
2,2,17
3,2,13